body{
    font-family: Play, sans-serif;
    background-color: #1E2026;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{
    margin-top: 60px;
    border-radius: 20px;
    width: 1842px;
    height: 1010px;
    background-color: #780033;
}

.nav-fon{
    width: 1842px;
    height: 943px;
    border-radius: 0px 20px 20px 20px;
    border-top: 3px solid white;
    border-bottom:3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 71px;
    background-color: #1E2026;
}

.nav-button-section{
    position: relative;
    z-index: 1;
    padding: 0 30px 1px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    max-width: 210px;
    height: 74px;

}
.nav-button-section:active{
    background-color: #780033;
    border-top:3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-radius: 20px 20px 0 0;
}

.nav-button{
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.end{
    text-align: center;
    position: relative;
    right: -6px;
    padding: 0 30px 25px 30px;
}

.start{
    background-color: #780033;
    border-top:3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-radius: 20px 20px 0 0;
}
.meet{
    position: relative;
    right: 80px;
    width: 2000px;
    height: 1090px;
}
.par{
    font-weight:700;
    margin-bottom: 53px;
    pointer-events: none;
    font-size: 72px;

}
.nav-fon{
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 88px;
}
.fon-text{
    min-width: 825px;
    margin-left: 57px;
    /*background-color: #1E2026;*/
}


.create-fridge{
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    width: 447px;
    height: 74px;
    display: inline-flex;
    margin-left: 236px;
    padding: 36px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0 black solid;
    border-radius: 13px;
    background: #804BF2;
    color: white;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.25);
}

.create-fridge:active{
    background: #7130f6;
}

.nav-fon:first-child{
    justify-content: center;
    align-items: center;
}

span{
    margin-top: 150px;
    color: white;
    font-weight: 700;
    font-size: 88px;
}

body:last-child{
    display: flex;
    height: 100vh;
}

.information{
    position: absolute;
    bottom: -3px;
    flex-shrink: 0;
    align-self: center;
    width: 1920px;
    height: 359px;
    margin-bottom: 0;
    background-color: #780033;
    border-radius: 20px 20px 0px 0px;
    border: 4px solid #FFF;
    border-bottom: 0;
    box-shadow: 0px 4px 100px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
}
.icons{
    display: flex;
    flex-direction: row;

    margin-left: 76px;
}

.img-inf{
    margin-right: 24px;
}

.inc{
    font-weight: 100;
    font-size: 64px;
    font-family: Raleway, sans-serif;
    color: #FFF;
    opacity: .2;
    align-self: end;
    margin-right: 75px;
}

.contacts{
    margin-left: 76px;
    margin-bottom: 63px;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.last-stroke{
    text-align: end;
    margin-top: -70px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.cardPage{
    text-align: center;
    margin-top: 150px;
    min-width: 1593px;
    min-height: 845px;
}

.image-card{
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.image-prod{
    transition: all .3s;
    margin-right: 20px;
    width: 202px;
    height: 637px;
    border: 2px solid white;
    border-radius: 35px;
}

.image-prod:hover{
    width: 425px;
}

.text{
    margin-right: 21px;
    margin-bottom: 21px;
    width: 160px;
    height: 86px;
    border-radius: 40px;
    border: 0.5px solid #FFF;
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(12.5px);
    position: absolute;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
    font-weight: 400;
}
.images-all{
    margin-top: 146px;
    display: flex;
    justify-content: center;
}

.image-cont{
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
